:host ::ng-deep {
    .mat-dialog-container {
        background-color: var(--bg-color);
        .mat-input-element {
            color: var(--primary-text-color);
        }
    }
    .mat-dialog-actions {
        color: black;
    }

    .mat-button:first-child {
        background-color: var(--button-bg-color);
        color: white;
    }
    .mat-input-element {
        caret-color: var(--button-bg-color);
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline,
    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: var(--button-bg-color);
    }
    .mat-select-value,
    mat-label,
    .mat-icon {
        color: var(--primary-text-color);
    }

    .mat-dialog-content {
        color: black;
    }
}

h2 {
    color: black;
}
