<mat-card>
    <div class="logo">
        <img width="400" height="80" alt="Logo Scrabble" />
        <h1>
            {{ 'createGame.createGame' | transloco }} <span *ngIf="gameType === 0">solo</span
            ><span *ngIf="gameType === 1">{{ 'createGame.multiplayerMode' | transloco }}</span>
        </h1>
    </div>
    <form [formGroup]="paramsForm">
        <mat-form-field *ngIf="gameType === 0">
            <mat-label>{{ 'createGame.opponentLevel' | transloco }}</mat-label>
            <mat-select [(value)]="level">
                <mat-option *ngFor="let option of levelOptions" [value]="option.value">{{ option.name }} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'createGame.timer' | transloco }}</mat-label>
            <mat-select [(value)]="timer">
                <mat-option *ngFor="let option of timerOptions" [value]="option.value">{{ option.name }} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'createGame.dictionary' | transloco }}</mat-label>
            <mat-select [(value)]="dictionary">
                <mat-option *ngFor="let option of dictionaryOptions" [value]="option.value"
                    >{{ 'multiplayerJoinPage.dictionary' | transloco }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="!isObjectivesMode">
            <mat-label>{{ 'createGame.visibility' | transloco }}</mat-label>
            <mat-select [(value)]="visibility">
                <!-- remplacement du ng for par deux mat option afin de traduire la page -->
                <mat-option value="private">{{ 'multiplayerPage.visibility.private' | transloco }}</mat-option>
                <mat-option value="public">{{ 'multiplayerPage.visibility.public' | transloco }}</mat-option>
                <!-- <mat-option *ngFor="let option of visibilityOptions" [value]="option.value">{{ option.name | transloco }} </mat-option> -->
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="visibility === 'public' && !isObjectivesMode">
            <mat-label>{{ 'createGame.optionalPassword' | transloco }}</mat-label>
            <div class="password">
                <input
                    matInput
                    [type]="show ? 'text' : 'password'"
                    id="myPassword"
                    placeholder="Maximum de 10 caractères"
                    formControlName="password"
                />
                <mat-icon class="eye" style="float: right" (click)="showPassword()">remove_red_eye</mat-icon>
            </div>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" [routerLink]="[backLink]"><mat-icon>arrow_back</mat-icon> {{ 'createGame.back' | transloco }}</button>
    <button class="confirm" mat-raised-button color="primary" [disabled]="paramsForm.invalid" (click)="confirm()">
        <mat-icon>check</mat-icon> {{ 'createGame.confirmParameters' | transloco }}
    </button>
    <button class="create" mat-raised-button color="primary" [disabled]="!confirmed || paramsForm.invalid" (click)="createGame()">
        <mat-icon>sports_esports</mat-icon> {{ 'createGame.createGame' | transloco }}
    </button>
</mat-card>
