.messages {
    padding: 1rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.04);
    height: 20rem;
    overflow-x: hidden;
    overflow-y: scroll;
}
