<h2 mat-dialog-title>{{ 'mainPage.gameSettings.gameSettings' | transloco }}</h2>
<div color="primary">
    <mat-dialog-content>
        <div>
            {{ 'mainPage.gameSettings.chooseVisualTheme' | transloco }}
            <div class="grid">
                <app-theme-switcher></app-theme-switcher>
            </div>
        </div>
        <app-language-selector-component></app-language-selector-component>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close cdkFocusInitial>{{ 'mainPage.gameSettings.Close' | transloco }}</button>
    </mat-dialog-actions>
</div>
