.mat-raised-button {
    min-width: 0;
    width: 40px;
    height: 40px;
}
#clue {
    background-color: rgb(1, 52, 114);
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgb(1, 71, 156);
    }
    &:disabled {
        opacity: 0.4;
        &:hover {
            background-color: rgb(1, 52, 114);
        }
    }
}
