:host {
    background-image: var(--main-page-bg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

mat-card {
    width: 30%;
    min-width: 500px;
    margin-top: 4rem;
    padding: 2rem;
    padding-bottom: 3rem;
}

mat-form-field {
    display: block;
}

h1 {
    margin-bottom: 2rem;
}

.logo {
    display: grid;
    place-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0rem auto;

    button {
        min-width: 60%;
        padding: 0.5rem 1.2rem;
        margin: 0.5rem 0;
    }
}

.border {
    border: none;
    background-color: inherit;
}

.password {
    display: flex;
    align-items: flex-end;
}

.eye:hover {
    cursor: pointer;
}

.errorMsg {
    color: darkred;
    font-size: 12px;
}
